@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Sora:wght@500;600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}
.navbar{
    position: relative;
    z-index: 999;
}
nav{
    display : flex;
    flex-direction: row;
    justify-content: space-around;
    user-select: none;
    font-family: poppins, sans-serif;
    background-color: #ffff;
    font-weight: 500;
    width: 100%;
    padding-top: 10px;
    z-index: 999;
}
nav a{
    text-decoration: none;
    color: #000;
}
.navul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding-top: 0;
}
.navul li{
    padding: 10px;
}
.navul li:hover{
    cursor: pointer;
}
.logoStore{
    width: 40px;
    height: 40px;
}
.logoCart{
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    width: 50px;
    height: 35px;
}
.navDropProducts, .navDropStores{
    display: none;
    justify-content: center;
    position: absolute;
    user-select: none;
    height: fit-content;
    font-family: poppins, sans-serif;
    background-color: white;
    z-index: -1;
    padding-bottom: 20px;
    top: 55px;
    width: 100%;
    animation: to-bottom 0.5s forwards;
}
.navDropProducts::before, .navDropStores::before{
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0px;
    border-radius: 2px;
    background-color: rgba(206, 205, 205, 0.6);
}
.navDropMain{
    display: flex;
    flex-direction: row;
    min-width: 60%;
    min-height: 100%;
    padding-top: 10px;
}
.navDropContent{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    height: 100%;
    margin: auto;
}
.navDropHeading{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-left: 20px;
    margin-bottom: 15px;
    width: 100%;
}
.navDropHeading::before{
    position: absolute;
    content: "";
    height: 2px;
    width: 270px;
    left: 5px;
    bottom: -7px;
    border-radius: 2px;
    background-color: rgba(206, 205, 205, 0.6);
}
.navDropHeading span{
    font-size: 26px;
}
.navDropImg{
    margin-right: 10px;
    width: 40px;
    height: 40px;
}
.navDropUl{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    margin-left: 25px;
    padding: 0;
}
.navDropUl li{
    margin: 3px 0 3px 0;
}
.navDropUl li a{
    text-decoration: none;
    color: #808080;
}
.navDropUl li a{
    position: relative;
}
.navDropUl li a::before{
    position: absolute;
    content: "";
    width: 0;
    bottom: 0px;
    height: 2px;
    background-color: black;
    transition: all ease-in-out 0.2s;
    transition-delay: 0.2s;
}
.navDropUl li a:hover::before{
    width: calc(100% + 5px);
}
.navDropUl li a:hover{
    color: black;
}
.navbar:has(#products:hover) .navDropProducts,  .navbar:has(#stores:hover) .navDropStores, .navDropProducts:hover, .navDropStores:hover{
    display: flex;
}
.flex{
    display: flex;
}
@keyframes to-bottom {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}