body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display : flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 10px 0;
}
.navul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navul li{
    padding: 10px;
}
.logo{
    width: 40px;
    height: 40px;
}